<hr />
<!-- <h3><%- __('comment')%>:</h3> -->
<% if(site.data.comment.valine){ %>
    <div id="vcomments"></div>
    <script src='//cdn.jsdelivr.net/npm/valine/dist/Valine.min.js'></script>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '<%- site.data.comment.valine.appId %>',
            appKey: '<%- site.data.comment.valine.appKey %>' <%_ -%>
            <%_ if(site.data.comment.valine.placeholder){ %>,
            placeholder: '<%- site.data.comment.valine.placeholder %>' <%_ -%>
            <%_ } -%>
            <%_ if(site.data.comment.valine.notify){ %>,
            notify: '<%- site.data.comment.valine.notify %>' <%_ -%>
            <%_ } -%>
            <%_ if(site.data.comment.valine.verify){ %>,
            verify: '<%- site.data.comment.valine.verify %>' <%_ -%>
            <%_ } -%>
            <%_ if(site.data.comment.valine.path){ %>,
            path: '<%- site.data.comment.valine.path %>' <%_ -%>
            <%_ } -%>
            <%_ if(site.data.comment.valine.avatar){ %>,
            avatar: '<%- site.data.comment.valine.avatar %>' <%_ -%>
            <%_ } -%>
            <%_ if(site.data.comment.valine.meta){ %>,
            meta: '<%- site.data.comment.valine.meta %>' <%_ -%>
            <%_ } -%>
            <%_ if(site.data.comment.valine.pageSize){ %>,
            pageSize: '<%- site.data.comment.valine.pageSize %>' <%_ -%>
            <%_ } -%>
            <%_ if(site.data.comment.valine.lang){ %>,
            lang: '<%- site.data.comment.valine.lang %>' <%_ -%>
            <%_ } -%>
            <%_ if(site.data.comment.valine.visitor){ %>,
            visitor: '<%- site.data.comment.valine.visitor %>' <%_ -%>
            <%_ } -%>
            <%_ if(site.data.comment.valine.highlight){ %>,
            highlight: '<%- site.data.comment.valine.highlight %>' <%_ -%>
            <%_ } -%>
            <%_ if(site.data.comment.valine.avatarForce){ %>,
            avatarForce: '<%- site.data.comment.valine.avatarForce %>' <%_ -%>
            <%_ } -%>
            <%_ if(site.data.comment.valine.recordIP){ %>,
            recordIP: '<%- site.data.comment.valine.recordIP %>' <%_ -%>
            <% } %>
        });
    </script>
<% } else if(site.data.comment.disqus){ %>
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://' + '<%- site.data.comment.disqus.shortname %>' + '.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% } else if(site.data.comment.livere){ %>
    <div id="lv-container" data-id="<%- site.data.comment.livere.id %>" data-uid="<%- site.data.comment.livere.uid %>">
        <script type="text/javascript">
            (function (d, s) {
                var j, e = d.getElementsByTagName(s)[0];

                if (typeof LivereTower === 'function') { return; }

                j = d.createElement(s);
                j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                j.async = true;

                e.parentNode.insertBefore(j, e);
            })(document, 'script');
        </script>
        <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
    </div>
<% } %>

