<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="<%- url_for('favicon.ico') %>">

    <!-- Title -->
    <%
    var title = [];
    if (page.title) title.push(page.title);
    if (page.category) title.push(page.category);
    if (page.tag) title.push(page.tag);
    if (page.archive) {
        if (page.year) title.push(__('Archives: %s', page.year + (page.month ? '/' + page.month : '')));
        else title.push(__('Archives'));
    }
    title.push(config.title);
    %>
    <title><%= title.join(' - ') %></title>

    <%- css('//cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css') %>
    <%- css('//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css') %>
    <% if (is_post()) { %>
    <%- css('//cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css') %>
    <% } %>

    <%- css('css/style.css') %>

    <!-- Google Analytics -->
    <%- partial('google-analytics') %>

    <!-- Baidu Tongji -->
    <%- partial('baidu-tongji') %>

</head>
